<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.vpcb.footballassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--<uses-permission android:name="android.permission.WAKE_LOCK"/>-->

    <application
        android:name=".FootballAssistant"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.vpcb.footballassistant.MainActivity" />
        </activity>

        <service android:name=".services.UpdateService" />

        <provider
            android:name=".dbase.FDProvider"
            android:authorities="ru.vpcb.footballassistant"
            android:exported="false" />

        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".notifications.NotifyIntentService"
            android:exported="false" />

        <service
            android:name=".notifications.NotificationJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <receiver android:name=".widgets.MatchWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/match_widget_provider_info" />
        </receiver>
        <service android:name=".widgets.MatchWidgetService"
            android:exported="false"/>
        <service android:name=".services.NewsService" />

    </application>

</manifest>